[Unit]
Description=Pivac Arduino DHW pressure provider
After=network.target signalk.service
Requires=signalk.service

[Service]
Type=simple
User=pi
Environment=PIVAC_CFG=/etc/pivac/config.yml
ExecStart=/home/pi/pivac-venv/bin/python3 /home/pi/github/pivac/scripts/pivac-provider.py pivac.ArduinoThermPSI --loglevel ERROR --daemon
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
